<div class="container">
    <form>
        <mat-form-field>
            <mat-label>Select</mat-label>
            <mat-select  [(ngModel)]="data.name" name="name">
              <mat-option value={{n.name}} *ngFor="let n of name">{{n.name}}</mat-option>
            </mat-select>
        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-form-field>
                <input matInput type="text" placeholder="Enter Age" [(ngModel)]="data.age" name="age" #age="ngModel"
                 required pattern="[0-9]+">
            </mat-form-field>
            <span *ngIf="age.errors && (age.dirty || age.touched)">
                <span [hidden]="!age.errors.required">Age is required</span>
                <span [hidden]="!age.errors.pattern">Age must be in numbers</span>
            </span>
            <button mat-raised-button class="button" color="primary" (click)="onageSubmit()">Submit</button>
    </form>
</div>